body{
    overflow: hidden;
    height: 100vh;
    background: linear-gradient(360deg,green, rgb(30, 141, 30),rgb(85, 148, 85),rgb(110, 146, 110),rgb(128, 150, 128));
}
.grid{
    height: 200px;
    width: 200px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    border: 2px solid black;
}

.grid div{
    height: 20px;
    width: 20px;
}

.bait{
    background-color: red;
}

.snake{
    background-color: rgb(61, 18, 18);
}

button{
    margin-left: 47%;
    margin-bottom: 2em;
    margin-top: 2em;
    padding: 5px;
    box-shadow: 1px 2px 2px grey;
}

.poop{
    background-color: rgb(63, 133, 63);
    height: 10px;
    width: 10px;
}